In [1]:
import pandas as pd
import numpy as np

In [2]:
# 1. Create Pandas DataFrame

# A structured array
my_arr = np.ones(3, dtype=([('foo', int), ('bar', float)]))
print my_arr['foo']

# A record array
my_arr2 = my_arr.view(np.recarray)
print my_arr2.foo

[1 1 1]
[1 1 1]

In [3]:
data = np.array([['', 'Col1', 'Col2'],
                 ['Row1', 1, 2],
                 ['Row2', 3, 4]])
print pd.DataFrame(data=data[1:, 1:],
                  index=data[1:, 0],
                  columns=data[0, 1:])

     Col1 Col2
Row1    1    2
Row2    3    4

In [4]:
# Take a 2D array as input to DataFrame
my_arr = np.array([[1, 2, 3], [4, 5, 6]])
print pd.DataFrame(my_arr)

   0  1  2
0  1  2  3
1  4  5  6

In [5]:
# Take a dictionary as input to DataFrame
my_dict = {
    1: ['1', '3'],
    2: ['1', '2'],
    3: ['2', '4']
}
print pd.DataFrame(my_dict)

   1  2  3
0  1  1  2
1  3  2  4

In [6]:
# Take a DataFrame as input to DataFrame
my_df = pd.DataFrame(data=[4, 5, 6, 7],
                    index=range(0, 4),
                    columns=['A'])
print pd.DataFrame(my_df)

   A
0  4
1  5
2  6
3  7

In [7]:
# Take a Series as input to DataFrame
my_series = pd.Series({
    "United Kindom": "London",
    "India": "New Delhi",
    "United States": "Washington",
    "Belgium": "Brussels"
})
print pd.DataFrame(my_series)

                        0
Belgium          Brussels
India           New Delhi
United Kindom      London
United States  Washington

In [8]:
df = pd.DataFrame(my_arr)
print df

# Use the `shape` property
print "Height and Width of dataframe:", df.shape

# Or use the `len()` function with the `property`
print "Height of dataframe:", len(df.index)

print "Columns:", df.columns.values

   0  1  2
0  1  2  3
1  4  5  6
Height and Width of dataframe: (2, 3)
Height of dataframe: 2
Columns: [0 1 2]

In [9]:
# 2. Select and Index or Column From a Pandas DataFrame

data = np.arange(1, 10).reshape((3, 3))
df = pd.DataFrame(data=data, columns=['A', 'B', 'C'])
print df

# Using `iloc[]`, integer-location
print df.iloc[0][0]

# Using `loc[]`, label-location
print df.loc[0]['A']

# Using `at[]`
print df.at[0, 'A']

# Using `iat[]`
print df.iat[0, 0]

# Using `get_value(index, column)`
print df.get_value(0, 'A')

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
1
1
1
1
1

In [10]:
# Use `iloc[]` to select a row
print df.iloc[0]

# Use `loc[]` to select a column
print df.loc[:, 'A']

A    1
B    2
C    3
Name: 0, dtype: int64
0    1
1    4
2    7
Name: A, dtype: int64

In [11]:
# 3. Add an Index, Row or Column to a Pandas DataFrame

# Adding an Index to DataFrame
data = np.arange(1, 7).reshape(2, 3)
df = pd.DataFrame(data=data, columns=['A', 'B', 'C'])
print df
print df.set_index('C')

   A  B  C
0  1  2  3
1  4  5  6
   A  B
C
3  1  2
6  4  5

In [12]:
# Adding Rows to DataFrame
data = np.arange(1, 10).reshape(3, 3)
df = pd.DataFrame(data=data,
                 index=[2, 'A', 4],
                 columns=[48, 49, 50])
print df
print
print df.loc[2]
print 
print df.iloc[2]
print
# if Index are solely integer-based .ix = .loc else .ix = .iloc
print df.ix[2]

   48  49  50
2   1   2   3
A   4   5   6
4   7   8   9

48    1
49    2
50    3
Name: 2, dtype: int64

48    7
49    8
50    9
Name: 4, dtype: int64

48    7
49    8
50    9
Name: 4, dtype: int64

In [13]:
data = np.arange(1, 10).reshape(3, 3)
df = pd.DataFrame(data=data,
                 index=[2.5, 12.6, 4.8],
                 columns=[48, 49, 50])
print df
print

# There's no index labeled `2`, so you will change the index at position `2`
# .ix = .iloc here
df.ix[2] = [60, 50, 40]
print df

print

# This will make an index labeled `2` and add the new values
df.loc[2] = [11, 12, 13]
print df

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8    7   8   9

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8   60  50  40

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8   60  50  40
2.0   11  12  13

In [14]:
# Adding a Column to DataFrame
data = np.arange(1, 10).reshape(3, 3)
df = pd.DataFrame(data=data, columns=['A', 'B', 'C'])
print df
print

# Use `.index`
df['D'] = df.index
print df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

   A  B  C  D
0  1  2  3  0
1  4  5  6  1
2  7  8  9  2

In [15]:
df = pd.DataFrame(data=np.array([[1, 1, 2], [3, 2, 4]]), columns=range(1, 4))
print df
print

# Append a column to `df`
df.loc[:, 4] = pd.Series(['5', '6'], index=df.index)
print df

   1  2  3
0  1  1  2
1  3  2  4

   1  2  3  4
0  1  1  2  5
1  3  2  4  6

In [16]:
data = np.arange(1, 10).reshape(3, 3)
df = pd.DataFrame(data=data,
                 index=[2.5, 12.6, 4.8],
                 columns=[48, 49, 50])
print df
print

print df.reset_index(level=0, drop=True)
print

df.reset_index(level=0, inplace=True)
print df

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8    7   8   9

   48  49  50
0   1   2   3
1   4   5   6
2   7   8   9

   index  48  49  50
0    2.5   1   2   3
1   12.6   4   5   6
2    4.8   7   8   9

In [17]:
# 4. Delete Indices, Rows or Columns

# Deleting Index
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [40, 50, 60], [23, 35, 37]]),
                  index=[2.5, 12.6, 4.8, 4.8, 2.5],
                  columns=[48, 49, 50])
df.reset_index().drop_duplicates(subset='index', keep='last').set_index('index')

       48  49  50
index
12.6    4   5   6
4.8    40  50  60
2.5    23  35  37

In [18]:
# Deleting a Column
data = np.arange(1, 10).reshape(3, 3)
df = pd.DataFrame(data=data, columns=list('ABC'))
print df

# Drop the column with label 'A'
df.drop('A', axis=1, inplace=True)
print df

# Drop the column at position 1
print df.drop(df.columns[[1]], axis=1)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
   B  C
0  2  3
1  5  6
2  8  9
   B
0  2
1  5
2  8

In [19]:
## Removing a Row
data = np.array([
    [1, 2, 3, 4],
    [4, 5, 6, 5],
    [7, 8, 9, 6],
    [23, 50, 60, 7],
    [23, 35, 37, 23]
])
df = pd.DataFrame(data=data, index=[2.5, 12.6, 4.8, 4.8, 2.5], columns=[48, 49, 50, 50])
print df
print

# Drop the duplicates in `df`
print df.drop_duplicates([48], keep='last')

      48  49  50  50
2.5    1   2   3   4
12.6   4   5   6   5
4.8    7   8   9   6
4.8   23  50  60   7
2.5   23  35  37  23

      48  49  50  50
2.5    1   2   3   4
12.6   4   5   6   5
4.8    7   8   9   6
2.5   23  35  37  23

In [20]:
data = np.arange(1, 10).reshape(3, 3)
df = pd.DataFrame(data=data, columns=list('ABC'))
print df
print

# Drop the index at position 1
df = df.drop(df.index[1])
print df
print
print df.reset_index(level=0, drop=True)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

   A  B  C
0  1  2  3
2  7  8  9

   A  B  C
0  1  2  3
1  7  8  9

In [21]:
# 5. Rename Index or Columns
df = pd.DataFrame(data=data, columns=list('ABC'))
print df

# Define the new names of your columns
newcols = {
    'A': 'new_column_1',
    'B': 'new_column_2',
    'C': 'new_column_3'
}

# Use `rename()` to rename your columns
df.rename(columns=newcols, inplace=True)
print df

# Rename your index
print df.rename(index={1: 'a'})

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
   new_column_1  new_column_2  new_column_3
0             1             2             3
1             4             5             6
2             7             8             9
   new_column_1  new_column_2  new_column_3
0             1             2             3
a             4             5             6
2             7             8             9

In [22]:
# 6. Format the data
data = np.array([
    ['OK', 'Perfect', 'Acceptable'],
    ['Awful', 'Awful', 'Perfect'],
    ['Acceptable', 'OK', 'Poor']
])
df = pd.DataFrame(data=data,
            columns=['Student1', 'Student2', 'Student3'])
# Replace the strings by numerical values (0-4)
df.replace(['Awful', 'Poor', 'OK', 'Acceptable', 'Perfect'], [0, 1, 2, 3, 4])

   Student1  Student2  Student3
0         2         4         3
1         0         0         4
2         3         2         1

In [23]:
data = np.array([
    ['1\n', '2', '3\n'],
    ['4', '5', '6\n'],
    ['7', '8\n', '9']
])
df = pd.DataFrame(data=data)
# Replace strings by others with `regex`
df.replace({'\n': '<br>'}, regex=True)

       0      1      2
0  1<br>      2  3<br>
1      4      5  6<br>
2      7  8<br>      9

In [24]:
data = np.array([
    ['1', '2', '+3b'],
    ['4', '5', '-6B'],
    ['7', '8', '+9A']
])
df = pd.DataFrame(data=data, 
                 columns=['class', 'test', 'result'])
print df
print

# Delete unwanted pars from the strings in the `result` column
df['result'] = df['result'].map(lambda x: x.lstrip('+-').rstrip('aAbBcC'))
print df

  class test result
0     1    2    +3b
1     4    5    -6B
2     7    8    +9A

  class test result
0     1    2      3
1     4    5      6
2     7    8      9

In [25]:
# Splitting Text in a Column into Multiple Rows in a DataFrame
data = np.array([
        [34, 0, '23:44:55'],
        [22, 0, '66:77:88'],
        [19, 1, '43:68:05 56:34:12']
    ])
df = pd.DataFrame(data=data,
                 columns=['Age', 'PlusOne', 'Ticket'])
print df
print 

# Split out the two values in the third row
# Make it a Series
# Stack the values
ticket_series = df['Ticket'].str.split(' ').apply(pd.Series, 1).stack()
print ticket_series
print ticket_series.unstack()
print

# Get rid of the stack:
# Drop the level to line up with the DataFrame
ticket_series.index = ticket_series.index.droplevel(-1)
print ticket_series
print

# Make your series a dataframe
ticketdf = pd.DataFrame(ticket_series)

# Delete the `Ticket` column from DataFrame
del df['Ticket']

# Join the ticket DataFrame to `df`
print df.join(ticketdf)

  Age PlusOne             Ticket
0  34       0           23:44:55
1  22       0           66:77:88
2  19       1  43:68:05 56:34:12

0  0    23:44:55
1  0    66:77:88
2  0    43:68:05
   1    56:34:12
dtype: object
          0         1
0  23:44:55      None
1  66:77:88      None
2  43:68:05  56:34:12

0    23:44:55
1    66:77:88
2    43:68:05
2    56:34:12
dtype: object

  Age PlusOne         0
0  34       0  23:44:55
1  22       0  66:77:88
2  19       1  43:68:05
2  19       1  56:34:12

In [26]:
doubler = lambda x: x * 2
data = np.arange(1, 10).reshape(3, 3)
df = pd.DataFrame(data=data,
                 columns=list('ABC'))
print df
print
print df['A'].apply(doubler)
print df.loc[0].apply(doubler)
print df.loc[0].map(doubler)
print df.applymap(doubler)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

0     2
1     8
2    14
Name: A, dtype: int64
A    2
B    4
C    6
Name: 0, dtype: int64
A    2
B    4
C    6
Name: 0, dtype: int64
    A   B   C
0   2   4   6
1   8  10  12
2  14  16  18

In [27]:
# 7. Create an Empty DataFrame
df = pd.DataFrame(np.nan, index=[0, 1, 2, 3], columns=['A'])
print df

df = pd.DataFrame(index=range(0, 4), columns=['A'], dtype='float')
print df

    A
0 NaN
1 NaN
2 NaN
3 NaN
    A
0 NaN
1 NaN
2 NaN
3 NaN

In [28]:
# 8. Recognize Date when importing data
# pd.read_csv('filename', prase_dates=True)
# pd.read_csv('filename', prase_dates=['columnName'])

# Custom your own parser
# dateparser = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
# pd.read_csv('filename', prase_dates=['columnName'], date_parser=dateparser)

# Combine two columns into a single DateTime column
# pd.read_csv('filename, parse_dates={'datetime: ['date', 'time']}, date_parser=dateparser)

In [29]:
# 9. When Why, How you should Reshape your DataFrame

# Pivoting DataFrame
products = pd.DataFrame({
    "category": ["Cleaning", "Cleaning", "Entertainment", "Entertainment", "Tech", "Tech"],
    "store": ["Walmart", "Dia", "Walmart", "Fnac", "Dia", "Walmart"],
    "price": [11.42, 23.50, 19.99, 15.95, 55.75, 111.55],
    "testscore": [4, 3, 5, 7, 5, 8]
})
print products
print 

# Use `pivot()` to pivot the DataFrame
print products.pivot(index='category', columns='store', values='price')
print
print products.pivot(index='category', columns='store')
print

# `pivot_table()`
print products.pivot_table(index='category', columns='store', values='price', aggfunc='mean')

        category   price    store  testscore
0       Cleaning   11.42  Walmart          4
1       Cleaning   23.50      Dia          3
2  Entertainment   19.99  Walmart          5
3  Entertainment   15.95     Fnac          7
4           Tech   55.75      Dia          5
5           Tech  111.55  Walmart          8

store            Dia   Fnac  Walmart
category
Cleaning       23.50    NaN    11.42
Entertainment    NaN  15.95    19.99
Tech           55.75    NaN   111.55

               price                testscore
store            Dia   Fnac Walmart       Dia Fnac Walmart
category
Cleaning       23.50    NaN   11.42       3.0  NaN     4.0
Entertainment    NaN  15.95   19.99       NaN  7.0     5.0
Tech           55.75    NaN  111.55       5.0  NaN     8.0

store            Dia   Fnac  Walmart
category
Cleaning       23.50    NaN    11.42
Entertainment    NaN  15.95    19.99
Tech           55.75    NaN   111.55

In [30]:
# Reshaping With `Melt()`
df = pd.DataFrame({
    'FirstName': ['John', 'Jane'],
    'LastName': ['Doe', 'Austen'],
    'BloodType': ['A-', 'B+'],
    'Weight': [90, 64]
})
# Use `melt()`
pd.melt(df, id_vars=['FirstName', 'LastName'], var_name='measurements')

  FirstName LastName measurements value
0      John      Doe    BloodType    A-
1      Jane   Austen    BloodType    B+
2      John      Doe       Weight    90
3      Jane   Austen       Weight    64

In [31]:
# 10. Iterate over a DataFrame
data = np.arange(1, 10).reshape(3, 3)
df = pd.DataFrame(data=data, columns=list('ABC'))
print df
for idx, row in df.iterrows():
    print row['A'], row['B']

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
1 2
4 5
7 8

In [32]:
# 11. Write DataFrame to File

# -- CSV
# df.to_csv('data.csv')
# df.to_csv('data.csv', sep='\t')
# df.to_csv('data.csv', sep='\t', encoding='utf-8')

# -- Excel
# writer = pd.ExcelWriter('data.xlsx')
# df.to_excel(writer, 'Sheet 1')
# writer.save()